html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 100vh;
}

#__next {

    padding-top: 55px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress .bar {
background: white;
}

#nprogress .peg {
box-shadow: 0 0 10px white, 0 0 5px white;
}

#nprogress .spinner-icon {
border-top-color: white;
border-left-color: white;
}
